// brand styles
.brand {
  float: left;
}
.brand-title-logo {
  float:left;
}
.brand-title .cabe {
  float:left;
}
.cabe {
  text-transform: uppercase;
  font-weight: 300;
  color: $blan;
}
.music {
  font-weight: 800;
}
