// toggle styles
.toggle {
  float: left;
  width: 6rem;
  height: 6rem;
  background: transparent;
  border: none;
  text-transform: uppercase;
  @media (min-width: 62em) {
    // Extend Accesible-hide
    display: none;
  }
}
.toggle.toggle-filter,
.toggle.toggle-nav-close-left {
  float: right;
}
