include ../_modules/link/link
include ../_modules/brand/brand
include ../_modules/toggle/toggle
include ../_modules/header/header
include ../_modules/nav/nav
include ../_modules/footer/footer

doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  title Cabemusic
  meta(name='description', content= site.data.global.description)
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  block stylesheets
    link(rel='stylesheet', href= config.baseUrl + 'styles/main.css')
  block scripts
    script(src= config.baseUrl + 'scripts/main.js')
body.one-page
  // Page top
  #l-page-top
    // Header: brand
    #l-page-top-header
      // Toggle
      +toggle({'icon': 'hamburguer', 'target': 'l-page-nav-left', 'title':'Desplegar menú'})
      //Brand
      +brand()
    // Navs
    #l-page-nav-left
      // Close nav button
      +toggle({'icon': 'close', 'target': 'l-page-nav-left', 'title':'Cerrar menú', 'classes': 'nav-close-left', 'text': 'Menú'})
      // Search
      form.form
        label(for="search", class="accesible-hide")
          | Buscar
        input#search(
          type='search',
          placeholder="Buscar..."
        )
      // Nav: Logged-out user
      +nav(site.data.navs.user)
      // Nav: language nav
      +nav(site.data.navs.language)
  // Page main content
  main#l-page-main(role="main")
    block content
  // Page footer
  +footer('l-page-footer', 'Pie de página')
