mixin front(pages)
  each page in pages
    article.page-screen(class=page.class)
      .container
        h3.page-screen-title #{page.title}
        p.page-screen-text #{page.text}
        case page.class
          when "page-screen-list"
            section.page-screen-list-list
              each artist in page.artists
                article.page-screen-list-item
                  h4.accesible-hide artist.title
                  a.page-screen-list-link
                    img.page-screen-list-img(src='')
          default
            +link({'classes':'page-screen-link', 'href': page.link.url, 'text': page.link.text})
            img.page-screen-img(src=page.img)
