// front styles
.page-screen {
  .container {
    margin: 0 auto;
    max-width: 66em;
    padding: 1em;
  }
}
.page-screen-title {

}
.page-screen-text {

}
.page-screen-link {

}
.page-screen-img {

}
