%layout-box {
  position: relative;
  overflow-x: hidden;
  float: left;
  width: 100%;
}

$nav-width: 20em;
$page-top-height: 6em;

body {
  overflow-x: hidden;
}

#l-page-top {
  @extend %layout-box;
  background: transparent;
  position: fixed;
  height: $page-top-height;
}
#l-page-top-header {
  @extend %layout-box;
}
#l-page-nav-left {
  @extend %layout-box;
  background: $gris;
  width: $nav-width;
  height: 100vh;
  position: fixed;
  left:-$nav-width;
  padding: 1em;
  .form {
    margin-bottom: 1.5em;
  }
}
#l-page-nav-right {
  @extend %layout-box;
  background: $gris;
  width: $nav-width;
  height: 100vh;
  position: fixed;
  top: 0;
  right:-$nav-width;
  padding: 1em;
}
#l-page-main {
  @extend %layout-box;
  position: static;
  background: #555;
  overflow-x: hidden;
}
#l-page-footer {
  @extend %layout-box;
  background: #666;
  overflow-x: hidden;
  position: static;
}

// Large devices (desktops, 62em and up)
@media (min-width: 62em) {
  #l-page-top-header {
    width: auto;
  }
  #l-page-nav-left {
    width: 30%;
    height: 100vh;
    left: 0;
    overflow-y: auto;
  }
  #l-page-nav-right {
    width: 70%;
    height: 6em;
    float: right;
    position: fixed;
    right: 0;
    background: transparent;
    overflow: hidden;
  }
  #l-page-top {
    width: 70%;
    margin-left: 30%;
    background: transparent;
  }
  #l-page-main,
  #l-page-footer {
    width: 70%;
    margin-left: 30%;
  }
  .one-page {
    #l-page-nav-left {
      width: 70%;
      height: $page-top-height;
      float: right;
      position: static;
      left: auto;
      text-align: right;
      background: transparent;
      overflow: hidden;
      .form {
        // Accesible hide
        display: none;
      }
    }
    #l-page-top-header {
      width: 30%;
    }
    #l-page-top,
    #l-page-main,
    #l-page-footer {
      width: 100%;
      margin-left: 0;
    }
  }
}

// Extra large devices (large desktops, 75em and up)
@media (min-width: 75em) {
  #l-page-nav-left {
    width: 15%;
  }
  #l-page-top,
  #l-page-main,
  #l-page-footer {
    width: 85%;
    margin-left: 15%;
  }
  .one-page {
    #l-page-nav-left {
      width: 85%;
    }
    #l-page-top-header {
      width: 15%;
    }
    #l-page-top,
    #l-page-main,
    #l-page-footer {
      width: 100%;
      margin-left: 0;
    }
  }
}
