.is-l-page-nav-left-open {
  #l-page-nav-left {
    left: 0;
  }
}
.is-l-page-nav-right-open {
  #l-page-nav-right {
    right: 0;
  }
}

#l-page-nav-left,
#l-page-nav-right {
  transition: all .2s ease-in;
}
