// link styles

// unvisited link
a:link {
    color: $blanco;
}

// visited link
a:visited {
    color: $blanco;
}

// mouse over link
a:hover {
    color: $azul;
}

// selected link
a:active {
    color: $azul;
}
