// link styles
a {
  text-decoration: none;
  transition: color .2s ease-in;
}
// unvisited link
a:link {
    color: $blan;
}

// visited link
a:visited {
    color: $blan;
}

// mouse over link
a:hover {
    color: $azul;
}

// selected link
a:active {
    color: $azul;
}
