// input styles
.form {
  float: left;
  width: 100%;
  @media (min-width: 62em) {
    width: 15em;
  }
}
.form-input {
  margin-top: 1.5em;
}
.form-input-label {
  display: none;
}
.form-input-label-radio, .form-input-label-checkbox {
  display: inline-block;
}

.form-input:required,
.form-input:invalid {
  border-color: red;
}

.form-input:disabled {
  border-color: grey;
}

.form-input:valid {
  border-color: green;
}

input {
  color: $gris;
  border-radius: 0.3em;
  padding: 0.3em 1em;
  outline: none;
}
input[type="search"] {
  box-sizing: border-box;
  border-radius: 50vh;
  border-style: none;
  float: left;
  width: 100%;
}
.button {
  color: $blan;
  padding: 0.3em 1.5em;
  text-align: center;
  float: left;
  width: 100%;
  margin-top: 1em;
  border-radius: 5px;
  border-color: $blan;
  border-width: 2px;
  border-style:solid;

  &:hover {
    background: $azul;
    border-color: $azul;
    color: $blan;
  }
}
