.nav {
  display: block;
  @media (min-width: 62em) {
    display: inline-block;
  }
}
.nav-title {
  @extend %accesible-hide;
}
.nav-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-menu-item {
  display: list-item;
  @media (min-width: 62em) {
    display: inline;
  }
}
.nav-user {
  position: absolute;
  bottom: 5em;
  left: 0;
  padding: 0 1.5em;
  width: 100%;
}
.nav-language {
  position: absolute;
  bottom: 1.5em;
  left: 0;
  width: 100%;
  .nav-menu {
    width: 100%;
  }
  .nav-menu-item {
    float: left;
    width: 50%;
    text-align: center;
  }
}
.nav-menu-link {
  text-decoration: none;
  text-transform: uppercase;
  transition: all .2s ease-in;
  &:link,
  &:visited {
    color: $blan;
  }
  &:hover,
  &:active {
    color: $azul;
  }
}

.button {
  color: $blan;
  padding: 0.3em 1.5em;
  text-align: center;
  float: left;
  width: 100%;
  margin-top: 1em;
  border-radius: 5px;
  border-color: $blan;
  border-width: 2px;
  border-style:solid;

  &:hover {
    background: $azul;
    border-color: $azul;
    color: $blan;
  }
}
