.nav-title {
  @extend %accesible-hide;
}
.nav-menu {
  padding: 0;
  list-style: none;
}
.nav-menu-item {
  display: list-item;
  @media (min-width: 62em) {
    display: inline;
  }
}
.nav-menu-link {
  text-decoration: none;
  text-transform: uppercase;
  transition: all .2s ease-in;
  margin-top: 1.5em;
  float:left;
  width: 100%;
  &:link,
  &:visited {
    color: $blan;
  }
  &:hover,
  &:active {
    color: $azul;
  }
}
// Main
.nav-main-menu-link {
  margin-top: 0;
}

// Usuario
.one-page .nav-user {
  @media (min-width: 62em) {
    width: 25em;
    float: right;
  }
}
.one-page .nav-user-menu-item {
  @media (min-width: 62em) {
    display: inline-block;
    width: 11em;
    float: left;
    margin-right: 1.5em;
  }
}
// Idioma
.one-page .nav-language {
  @media (min-width: 62em) {
    width: 10em;
    position: static;
    float: right;
    margin-right: 1em;
  }
}
.nav-language-menu-item {
  float: left;
  width: 50%;
  text-align: center;
}
.nav-language-menu-link {
  padding: 0.3em auto;
}
