extends _layouts/onepage

include _modules/link/link
include _modules/front/front

block content
  section.home
    header.page-screen.page-screen-header
      h2.accesible-hide Portada
      p.page-screen-header-description #{site.data.index.header.brand}
      ul.page-screen-header-menu
        each link in site.data.index.header.links
          li.page-screen-header-item
            a.page-screen-header-link(href=link.url) #{link.text}
      +link({"href": "#next", "text": "Down"})
    #next
    +front(site.data.index.pages)
