include ../_modules/albums/albums

extends ../_layouts/base

block content
  section.musiclist
    header.musiclist-header
      h2.accesible-hide= site.data.musica.pagename
    nav.musiclist-nav
      #l-page-nav-right
        // Close nav button
        +toggle({'icon': 'close', 'target': 'l-page-nav-right', 'title':'Cerrar filtros', 'classes': 'toggle-nav-close-right'})
        // Nav: Filter
        +nav(site.data.navs.filter)
    +cart
    // Albums
    +albums(site.data.musica.albums)
